<h1>SecureAPIs GDPR Guidelines</h1>
    <p>Org AB hereinafter referred to as ("SecureAPIs," "we," "our," "us"), outlines how we process our customers' personal data in compliance with applicable data protection legislation, particularly the General Data Protection Regulation (GDPR) effective from 25 May 2018.</p>
    
    <h2>General Information</h2>
    <p>At SecureAPIs, we prioritize your privacy and have implemented these guidelines to protect the personal data we process. We maintain a high level of security in all our personal data processing activities, utilizing necessary technical and organizational measures to safeguard your data from unauthorized use, access, alteration, or deletion.</p>
    
    <h2>Definitions</h2>
    <p><strong>Personal Data:</strong> Any information that can be directly or indirectly linked to a living natural person, such as a full name, social security number, address, photo, email, and IP address. Even data that cannot identify a person individually may be considered personal data if it can be linked to a person in combination with other data.</p>
    <p><strong>Personal Data Controller:</strong> The entity that decides the purposes and means of processing personal data. This can be a natural or legal person, authority, institution, or other body.</p>
    <p><strong>Personal Data Processing:</strong> Any operation performed on personal data, including collection, registration, storage, combination, or printing.</p>
    
    <h2>How We Process Your Personal Data</h2>
    <p>SecureAPIs is responsible for the processing of personal data carried out by us or on our behalf. This responsibility means we determine whether, how, and why your personal data is processed. For inquiries about our data processing practices, please contact us via the contact details provided below.</p>
    <p>SecureAPIs primarily collects personal data directly from you. While we generally handle your contact information, we may also collect other details, such as social security numbers and information directly linked to you. We strive to keep accurate information about you and retain only what is necessary. As a business customer, we store your contact details and your role within the organization.</p>
    
    <p>SecureAPIs registers personal data in the following situations:</p>
    <ul>
        <li>When you contact us via email, phone, our websites, or social media.</li>
        <li>When you are a customer making purchases in our stores or online.</li>
        <li>When you are a business customer, supplier, partner, or landlord.</li>
        <li>When you apply for employment or internships with us.</li>
        <li>When you visit our websites, where we collect non-personal information about the visit.</li>
    </ul>
    
    <p>Our primary objective in processing personal data is to facilitate a positive business relationship, whether in our stores or online, by addressing your requests, communicating about shared tasks, or fulfilling various agreements. We always process your data following current legislation.</p>
    <p>We rely on contract fulfillment, legitimate interest, or consent as legal bases for processing. If we use legitimate interest, it is strictly for the purposes outlined in clause 3.3. Should we need to use your data for other purposes, we will inform you accordingly. You can withdraw your consent at any time by contacting us.</p>
    <p>SecureAPIs handles your personal data with strict confidentiality and in accordance with current laws. We do not retain information for marketing purposes longer than five years, except as required by other laws, such as the Accounting Act.</p>
    
    <h2>Disclosure of Personal Data</h2>
    <p>SecureAPIs collaborates with various entities in processing your personal data, such as program providers on our website or checkout system providers. We ensure full responsibility for safeguarding your data, respecting your privacy, and complying with applicable regulations.</p>
    <p>SecureAPIs may disclose your data to third parties when legally required, such as to insurance companies, banks, or authorities. These recipients are responsible for handling your data and are not considered personal data processors. Additionally, we may disclose your data to authorities like the police or tax authorities when necessary for criminal investigations or legal obligations.</p>
    <p>We never share your personal data with parties other than those specified above.</p>
    
    <h2>Cookies and Google Analytics</h2>
    <p>We collect user statistics via cookies on our website, with your consent. Google Analytics is used to analyze website traffic and improve content based on visitor behavior. This is done anonymously through IP masking, which uses only part of the IP address, ensuring no identifiable tracking of internet activity. Consent for web tracking and analysis can be withdrawn at any time by downloading and installing a browser add-on from the Google website: <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>.</p>
    
    <h2>Your Rights</h2>
    <p>Under current data protection legislation, you have the right to request access to your personal data at any time. You can also request the correction of incorrect data, deletion of your data, or restriction of our processing activities.</p>
    <p>If processing is based on consent, you have the right to withdraw your consent at any time. For any questions about our data processing, please contact us.</p>
    
    <h2>Contact Information</h2>

    <p>Email: <a href="mailto:Service@secureapis.se">Service&#64;abc.se</a></p>